<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>酒BTI</title>
    <link href="https://fonts.googlepis.com/css?family=Noto+Sans+KR&display=swap" rle="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="sub_header">
        <div class="logo">
            <a href="/render_main"><img src="{{ url_for('static', filename='img/logo_samll.png') }}" alt="로고" width="200" height="200"></a>
        </div>

        <div class="sub_nav">
            <li><a href="/render_main">HOME</a></li>
        </div>
    </div>

    <div class="sub_menu">
        <li><a href="/render_kor_drink">전통주란?</li>
        <li><a href="/render_type">전통주</li>
        <li><a href="/render_intro">酒BTI</a></li>
    </div>

    <div class="survey_gender">
        <span id="surveyText"><span class="text_color">&nbsp;성별</span>을 선택해주세요!</span>

        <div class="sur_box_gender">
            <div class="square" id="gender0" onclick="handleButtonClick('sur_box_gender',0)">남자</div>
            <div class="square" id="gender1" onclick="handleButtonClick('sur_box_gender',1)">여자</div>
        </div>
    </div>
   
    <div class="survey_age">
        <span id="surveyText"><span class="text_color">&nbsp;나이</span>를 입력해주세요!</span>
    
        <div class="sur_box_text_age">
            <input type="text" placeholder="나이를 입력하세요" id="input_age" onchange="onChangeAge()">
        </div>
    </div>
    


    <div class="survey_type">
        <span id="surveyText">선호하는 술의<span class="text_color">&nbsp;주종</span>을 선택해주세요!</span>

        <div class="sur_box_type">
            <div class="square" id="type0" onclick="handleButtonClick('sur_box_type',0)">탁주</div>
            <div class="square" id="type1" onclick="handleButtonClick('sur_box_type',1)">약청주</div>
            <div class="square" id="type2" onclick="handleButtonClick('sur_box_type',2)">과실주</div>
            <div class="square" id="type3" onclick="handleButtonClick('sur_box_type',3)">증류주</div>
        </div>
    
    </div>
    

    <div class="survey_alcohole">
        <span id="surveyText">선호하는 술의<span class="text_color">&nbsp;도수</span>를 입력해주세요!</span>

        <div class="sur_box_text_alcohole">
            <input type="text" placeholder="도수를 입력하세요" id="input_alcohole" onchange="onChangeAlcohole()">
        </div>
    </div>
    


    <div class="survey_sweet">
        <span id="surveyText">선호하는 술의<span class="text_color">&nbsp;단맛</span>을 선택해주세요!</span>

        <div class="sur_box_sweet">
            <div class="square" id="sweet0" onclick="handleButtonClick('sur_box_sweet', 0)">없음</div>
            <div class="square" id="sweet1" onclick="handleButtonClick('sur_box_sweet', 1)">아주 약함</div>
            <div class="square" id="sweet2" onclick="handleButtonClick('sur_box_sweet', 2)">약함</div>
            <div class="square" id="sweet3" onclick="handleButtonClick('sur_box_sweet', 3)">보통</div>
            <div class="square" id="sweet4" onclick="handleButtonClick('sur_box_sweet', 4)">강함</div>
            <div class="square" id="sweet5" onclick="handleButtonClick('sur_box_sweet', 5)">아주 강함</div>
        </div>
    </div>
    


    <div class="survey_sour">
        <span id="surveyText">선호하는 술의<span class="text_color">&nbsp;산미</span>를 선택해주세요!</span>

        <div class="sur_box_sour">
            <div class="square" id="sour0" onclick="handleButtonClick('sur_box_sour', 0)">없음</div>
            <div class="square" id="sour1" onclick="handleButtonClick('sur_box_sour', 1)">아주 약함</div>
            <div class="square" id="sour2" onclick="handleButtonClick('sur_box_sour', 2)">약함</div>
            <div class="square" id="sour3" onclick="handleButtonClick('sur_box_sour', 3)">보통</div>
            <div class="square" id="sour4" onclick="handleButtonClick('sur_box_sour', 4)">강함</div>
            <div class="square" id="sour5" onclick="handleButtonClick('sur_box_sour', 5)">아주 강함</div>
        </div>
    </div>
    


    <div class="survey_body">
        <span id="surveyText">선호하는 술의<span class="text_color">&nbsp;바디감</span>을 선택해주세요!</span>

        <div class="sur_box_body">
            <div class="square" id="body0" onclick="handleButtonClick('sur_box_body', 0)">없음</div>
            <div class="square" id="body1" onclick="handleButtonClick('sur_box_body', 1)">아주 약함</div>
            <div class="square" id="body2" onclick="handleButtonClick('sur_box_body', 2)">약함</div>
            <div class="square" id="body3" onclick="handleButtonClick('sur_box_body', 3)">보통</div>
            <div class="square" id="body4" onclick="handleButtonClick('sur_box_body', 4)">강함</div>
            <div class="square" id="body5" onclick="handleButtonClick('sur_box_body', 5)">아주 강함</div>
        </div>
    </div>
    


    <div class="survey_price">
        <span id="surveyText">선호하는 술의<span class="text_color">&nbsp;가격</span>을 입력해주세요!</span>

        <div class="sur_box_text_price">
            <input type="text" placeholder="가격을 입력하세요" id="input_price" onchange="onChangePrice()">
        </div>
    </div>
    


    <div class="bti_button">
        <!-- <a href="kor_drink_BTI_result.html">
            <button name="button">제출하기</button>
        </a> -->
        <button name="button" onclick="onClickSubmit()">제출하기</button>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/kor_drink_BTI_total.js') }}"></script>
</body>
</html>