<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>酒도 : 술의 길</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <a href="/render_main">
            <img src="{{ url_for('static', filename='img/logo_last.png') }}">
        </a>

        <div class="menu">
            <li><a href="/render_kor_drink">전통주란?</li>
            <li><a href="/render_type">전통주</li>
            <li><a href="/render_intro">酒BTI</a></li>
        </div>

    </div>
    <div class="back">            
        <div class="main_01">
            <div>
                <li><a href="/render_kor_drink"><img src="{{ url_for('static', filename='img/kor_drink.png') }}"></li>
            </div>
            <div>
                <li><a href="/render_intro"><img src="{{ url_for('static', filename='img/kor_drink_BTI.png') }}"></li>
            </div>
        </div>
    </div>



    <div class="footer">
        <img src="{{ url_for('static', filename='img/footer_logo.jpg') }}" width="100%">
    </div>
    
</body>
</html>