*{
    font-family: 'Diphylleia', 세리프;
    list-style : none;
    /* text-decoration: none; */
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

.intro_bg{
    background-image: url("img/로고_최종.jpg");
    /* background-color: #332B29; */
    margin: 0 auto;
    width : 100%;
    height : 500px;
}

.header{
    display: flex;
    width: auto;
    margin : auto;
    /* background: #DEB76C; */
    height: 100px;
}

.searchArea{
    width:30%;
    height:50px;
    background:rgba(222,183,108,0.75);
    border-radius: 30px;
    margin-top: 25px;
    margin-left:25px;
}

.searchArea > form > input{
    border:none;
    width:85%;
    height:50px;
    background: rgba(0,0,0,0.0);
    color: #fff;
    padding-left:15px;
}

.searchArea > form > span{
    width : 50px;
    color : #fff;
    font-weight: bold;
    cursor  : pointer;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height:90px;
    width:80%;
}

.nav > li{
    margin-left:50px;
}

.nav > li > a{
    color: #fff;
    text-decoration-line: none;
    margin-right: 25px;
    font-family: 'Diphylleia', 세리프;
}

.intro_text{
    width: 100%;
    margin:75px auto 100px auto;
    text-align: center;
}
.intro_text > span{
    color : #DEB76C;
}

/* menu */

.menu{
    position: relative;
    top: +375px;
    display: flex;
    width : 90%;
    height: 50px ;
    background:#DEB76C;
    box-shadow: 10px 10px 5px rgba(51,43,41,0.25);
    margin : auto;
    border-radius: 30px;
}

.menu > li{
    flex:1;
    text-align: center;
    margin-top: 10px;
}

.menu > li > a{
    font-size: 20px;
    text-decoration-line: none;
    font-family: 'Diphylleia', 세리프;
}

.back{
    /* position: relative;
    top: +400px; */
    width:auto;
    height: 1200px;
    margin-top: 350px;
    /* background: red; */
}

/* main */

.main_01{
    /* position: relative;
    top: -750px; */
    width: 80%;
    height: 500px;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: -1100px;
}

.main_01 > div > li{
    width: 610px;
    height: 500px;
    flex: 1;
    text-align: center;
    margin-top: 80px;
    margin-left: 20px;
    background: rgba(222,183,108,0.25);
}

.main_01 > div > li > a{
    font-size: 40px;
    font-family: 'Diphylleia', 세리프;
    text-decoration-line: none;
}

.main_02{
    /* position: relative;
    top: -700px; */
    width: 80%;
    height: 500px;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 150px;
}

.main_02 > div > li{
    width: 610px;
    height: 500px;
    flex: 1;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    background: rgba(222,183,108,0.25);
}

.main_02 > div > li > a{
    font-size: 40px;
    font-family: 'Diphylleia', 세리프;
    text-decoration-line: none;
}

.footer{
    background-image: url("img/footer logo.jpg");
    /* background: #332B29; */
    margin: center;
    margin-top: 350px;
    width: auto;
    height: 200px;
}



/* ----------login.html---------- */

.sub_header{
    background-color: #332B29;
    width: 100%;
    height: 250px;
}

.logo > a > img{
    display: flex;
    margin: auto;
}

.sub_nav{
    display: flex;
    justify-content: flex-end;
    line-height:10px;
    width:97.5%;
}

.sub_nav > li{
    margin-top: -150px;
    margin-left:50px;
}

.sub_nav > li > a{
    color: #fff;
    text-decoration-line: none;
    margin-right: 20px;
    font-family: 'Diphylleia', 세리프;
}

.sub_menu{
    position: relative;
    top: -25px;
    display: flex;
    width : 90%;
    height: 50px ;
    background:#DEB76C;
    box-shadow: 10px 10px 5px rgba(51,43,41,0.25);
    margin : auto;
    border-radius: 30px;
}

.sub_menu > li{
    flex:1;
    text-align: center;
    margin-top: 10px;
}

.sub_menu > li > a{
    font-size: 20px;
    text-decoration-line: none;
    font-family: 'Diphylleia', 세리프;
}


/* ----------survey---------- */


.survey{
    width: 100%;
    height: 400px;
    margin: auto;
}

.survey > span{
    position: relative;
    top: 65px;
    margin: 80px;
    font-size: 300%;
    display: flex;
    justify-content: center;
    color:black;
}

.sweetness {
    color: rgba(222,183,108,100);
}


.sur_box{
    position: relative;
    top: -200px;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 75px;
    margin: auto;
}

.sur_box_text > input{
    position: relative;
    top: -200px;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 75px;
    margin: auto;
    border-radius: 30px;
    padding-left: 15px;
    font-size: 20px;
}

.square {
    width: 15%;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(222,183,108,0.5);
    border: 2.5px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.bti_button {
    margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bti_button a > button{
    width:100px;
    height: 50px;
    background: #332B29;
    color: #fff;
    font-size: 15px;
    border: 2.5px solid white;
}

.bti_intro_button {
    margin-top: -75px;
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}

.bti_intro_button a > button{
    width:200px;
    height: 100px;
    margin-top: 500px;
    background: #DEB76C;
    color: black;
    font-size: 30px;
    border: 2.5px solid white;
    border-radius: 30px;
}